{
  "extends": ["@imaginary-cloud/react"],
  // more configuration options here!
  "rules": {
    "react/prefer-stateless-function" : "off",
    "prettier/prettier": ["warn", {
      "endOfLine":"auto"
    }]
  }
}
