.paperGridLeft {
    padding: 2;
    text-align: left;
    color: black;
}
.paperGridCentre {
    padding: 2;
    text-align: justify;
    color: black;
}
.listItemWidth {
    width: 100%;
}
.paperAttachment {
    flex-direction: row;
}
.buttonMarginAction {
    margin-top: 10;
    margin-bottom: 10;
}
.ButtonApprove {
    width: 100%;
}
.ButtonRejected {
    width: 100%;
}
.CheckCircleColor {
    color: yellowgreen;
}
.CancelColor {
    color: tomato;
}
.textPrimaryColor {
    color: azure;
}
.iconPrimaryColor {
    color: #2bde17;
}
.iconSecondaryColor {
    color: #de1717;
}
.iconThirdColor {
    color: #173cde;
}
.iconWhiteColor {
    color: aliceblue;
}