.textPrimaryColor {
    color: azure;
}
.iconPrimaryColor {
    color: #2bde17;
}
.iconSecondaryColor {
    color: #de1717;
}
.iconThirdColor {
    color: #173cde;
}
.iconWhiteColor {
    color: aliceblue;
}