.textPrimaryColor {
    color: azure;
}
.iconPrimaryColor {
    color: #2bde17;
}
.iconSecondaryColor {
    color: #de1717;
}
.iconThirdColor {
    color: #173cde;
}
.iconWhiteColor {
    color: aliceblue;
}
.chartPie {
    padding: 10%;
}
.tableFooter {
    width: 100%;
}
.CancelIcon {
    background-color: #2bde17;
}
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }